In [1]:
import pandas as pd
from datetime import datetime, timedelta, date
import numpy as np

In [2]:
df = pd.read_csv("0115.txt", sep=' ')

### Filtering data between 19 June 2006 and 19 July 2006. 
* 1150693200000 = June 19, 2006 00:00:00 AM 
* 1153285200000 = July 19, 2006 00:00:00 AM

In [6]:
df1 = df[(df['Start']>=1150693200000) & (df['Start']<=1153285200000)]

In [7]:
def readable_date(date):
    ts = int(date)
    ts/=1000 #given time is upto millisecond precision. We need only till seconds.
    edt = datetime.utcfromtimestamp(ts)+timedelta(hours=-5)
    return edt.strftime('%d-%m-%y %H:%M:%S')

In [ ]:
df1['Start']=df1['Start'].apply(readable_date)

In [ ]:
df1['End']=df1['End'].apply(readable_date)

### Extracting the Date and Time parts in separate columns

In [ ]:
df1['Date'] = df1['Start'].apply(lambda x : x.split()[0])

In [ ]:
df1['Starttime'] = df1['Start'].apply(lambda x : x.split()[1])

In [ ]:
df1['Endtime'] = df1['End'].apply(lambda x : x.split()[1])

In [17]:
df1.to_csv("CSV/115_filtered2.csv", header=True, index=False)

In [18]:
df1.head()

,SensorID,Start,End,Placeholder,Date,Starttime,Endtime
475012,430,19-06-06 00:00:00,19-06-06 00:00:01,1.0,19-06-06,00:00:00,00:00:01
475013,430,19-06-06 00:00:02,19-06-06 00:00:03,1.0,19-06-06,00:00:02,00:00:03
475014,410,19-06-06 00:00:02,19-06-06 00:00:03,1.0,19-06-06,00:00:02,00:00:03
475015,430,19-06-06 00:00:04,19-06-06 00:00:05,1.0,19-06-06,00:00:04,00:00:05
475016,410,19-06-06 00:00:04,19-06-06 00:00:05,1.0,19-06-06,00:00:04,00:00:05